# Скрываем настройки и токены
.env
config.py (если там лежат пароли)

# Скрываем файлы базы данных
*.db
postgres_data/

# Скрываем временные файлы Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Скрываем системные файлы
.DS_Store
Thumbs.db
