:root {
    /* Переменные Telegram автоматически подхватят цвета мессенджера */
    --bg-color: var(--tg-theme-bg-color, #ffffff);
    --text-color: var(--tg-theme-text-color, #222222);
    --button-color: var(--tg-theme-button-color, #2481cc);
    --button-text: var(--tg-theme-button-text-color, #ffffff);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.click-button {
    background-color: var(--button-color);
    color: var(--button-text);
}
